.account_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  padding: 0.25em;
  gap: 0.25em;
}

.edits {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 300px;
}

.edit_name_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.edit_name_inputs > div {
  display: flex;
  gap: 0.25em;
}

.profile_picture_form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  align-items: flex-start;
}

.profile_picture_form > div {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.profile_picture_form > div > input {
  /* display: none; */
}

.default_picture_button > button {
  width: 100%;
}

.username_taken_warning {
  display: none;
  color: red;
}

input[type="file"]::file-selector-button {
  background-color: white;
  padding: 0.25em;
  border: none;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--highlight-color);
  color: white;
  cursor: pointer;
}

.bio_form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  height: 100%;
}

.bio_form > textarea {
  height: 100%;
  resize: none;
}
