.friend_requests {
  display: none;
}

.friend_requests_displayed {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: white;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 0.25em;
}

.friend_request {
  display: flex;
  justify-content: space-between;
}

.friend_request_inputs {
  display: flex;
  gap: 0.25em;
}

.friend_requests_info {
  height: 100%;
}
