.search_form {
  display: none;
}

.searched_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.25em;
}

.searched_user > div {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.inactive_friend_button {
  display: none;
}

.active_friend_button {
  display: flex;
}

.search_form_displayed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  height: 100%;
  color: white;
  padding: 0.25em;
}
