.search_form {
  display: none;
}

.searched_user {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.25em;
  padding-top: 0.25em;
  justify-content: space-between;
}

.searched_user > div > p {
  border: 2px solid var(--secondary-color);
  padding: 0.25em;
}

.inactive_friend_button {
  display: none;
}

.active_friend_button {
  display: flex;
}

.search_form_displayed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  height: 100%;
  color: white;
  padding: 0.25em;
}

.foundUser_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}
